div.archive-container
  header.archive-title
    h2 Archive

  ul.archive-list.reveal-detect
    - page.posts.each(function(article){
    li
      article
        div.archive-date
          include _partial/article_meta
          +date(article.date)
          +category(article.categories)
        h3.archive-title
          a(href=config.root + article.path)= article.title
    - })



