section#content
  ul.article-list
    - page.posts.each(function(article){
    li.reveal-detect
      article
        div.article-head
          h2.article-title
            a(href=config.root + article.path)= article.title
          div.meta.article-date
            include _partial/article_meta
            +date(article.date)
        // abstract
        div.article-content.markdown-body
          p!= article.excerpt
    - })

  include _partial/article_list_pagination
