section#content
  article(class=page.layout)
    div.article-head
      h2.article-title= page.title
      div.meta.article-date
        include _partial/article_meta
        +date(page.date)
    div.article-content.markdown-body
      p!= page.content

include _partial/article_pagination
